.container {
    width: 100vw;
    padding: 1% 2%;
}

.nav_light {
    background-color: var(--nav-bg-color);
    color: var(--text-color);
}

.nav_dark {
    background-color: var(--nav-bg-color-dark);
    color: var(--text-color-dark);
}